.item{:id => "document-#{document.id}", :class => "#{available(document)}", :"data-category" => "documents"}
  .filename= document.asset_file_name
  .available= document.available
  .user= document.user.username
  %time.updated_at{:datetime => "#{document.updated_at}"}
    = document.updated_at
  .size= document.asset_file_size
  .action
    .free
      = link_to t('.free'), free_path(:id => document.id) if !document.available
  