!!!
%html{:lang => "de"}
  %head
    %meta{:charset => 'utf-8'}
    %title
      = t('.title')
    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .flash
      .warning
        = flash[:warning]
      .error
        = flash[:error]
      .notice
        = flash[:notice]
        
    %article
      = yield
